.carData__container {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 1200px;
   margin: 10px 10% 10px 10%;
   box-sizing: border-box;
   padding-top: 5px;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   line-height: 1.5;
   align-items:center;
}

@media screen and (max-width:500px) {
    .carData__container {
        margin-left:10%;
    }
    #dropdown-basic-button {
        max-width: 70%;
    }
}

@media screen and (max-width:370px) {
    .carData__container {
        margin-left:5%;
    }
    #dropdown-basic-button {
        max-width: 50%;
    }
    .carData__BrandInput, .carData__ModelInput {
        max-width: 50%;
    }
}

@media screen and (max-width:250px) {
    .carData__container {
        margin-left:2%;
    }
    #dropdown-basic-button {
        max-width: 40%;
    }
    .carData__BrandInput, .carData__ModelInput {
        max-width: 40%;
    }
}

.carData__BrandDropdown {
    margin: 20px 30px;
    flex:30%;
}

.carData__BrandInput {
    margin-top: 20px;
    padding: 10px;
    
}

.carData__ModelDropdown {
    margin: 20px 30px;
    flex: 30%;
  
}

.carData__ModelInput {
    margin-top: 20px;
    padding: 10px;
}

#dropdown-basic-button {
    width: 300px;
    background-color: #304741;
    border:3px solid #dbf6e9;
}

#dropdown-basic-button:hover {
    box-shadow: 5px 5px 5px 5px #86aba1;
    margin-top: -5px;
    margin-left: -5px;
}

.dropdown__content
{
    overflow-y:scroll;
    height:200px;
}

