.headnav {
    background-color:#86ABA1;
    
}
.header__logoImage {
    height:60px;
    width:90px;
    border-radius: 50px;
    padding:8px 8px;
    margin-left: 35%;
}

.navbar__link--active {
    background-color:#dbf6e9;
    border-radius: 25%;
    box-shadow:5px 5px 5px 5px #9ddfd3;
} 
#element1 {
    color:#000;
    padding:8px 8px;
    text-decoration: none;
    font-size:15.5px;
    font-weight: 600;
    position: absolute;
    right:53%;
    top: 26.78%;
}
#element1:hover {
    background-color:#86ABA1 ;
    color:white;
    text-decoration: none;
    font-size:17px;
    box-shadow:5px 5px 5px 5px #dbf6e9;
    border-radius: 20%;
}
#element2 {
    color:black;
    padding:8px 8px;
    text-decoration: none;
    font-size:15.5px;
    font-weight:600;
    position: absolute;
    right:45.5%;
    top: 26.78%;
    margin-left: 1%;
}
#element2:hover {
    background-color:#86ABA1 ;
    color:white;
    text-decoration: none;
    font-size:17px;
    box-shadow:5px 5px 5px 5px #dbf6e9;
    border-radius: 20%;
}
#element3 {
    color:#000;
    padding:8px 8px;
    text-decoration: none;
    font-size:15.5px;
    font-weight: 600;
    position: absolute;
    right:38.3%;
    top: 26.78%;
    margin-left: 1%;
}
#element3:hover {
    background-color:#86ABA1 ;
    color:white;
    text-decoration: none;
    font-size:17px;
    box-shadow:5px 5px 5px 5px #dbf6e9;
    border-radius: 20%;
}
#element4 {
    color:#000;
    padding:8px 8px;
    text-decoration: none;
    font-size:13.5px;
    font-weight: 500;
    position: absolute;
    right:8%;
    top: 26.78%;
}
#element4:hover {
    background-color:#86ABA1 ;
    color:white;
    text-decoration: none;
    font-size:15px;
    box-shadow:5px 5px 5px 5px #dbf6e9;
    border-radius: 20%;
    
}
#element5 {
    color:#000;
    padding:8px 8px;
    text-decoration: none;
    font-size:13.5px;
    font-weight: 500;
    position: absolute;
    right:1%;
    top: 26.78%;
    margin-left: 1%;
}
#element5:hover {
    background-color:#86ABA1 ;
    color:white;
    text-decoration: none;
    font-size:15px;
    box-shadow:5px 5px 5px 5px #dbf6e9;
    border-radius: 20%;
}

@media screen and (max-width:992px) {
    #items {
        display: flex;
        flex-direction: column;
    }
    #navbar-toggler-icon {
        margin-top: -70px;
        margin-left: 91%;
    }
    #element1 {
        flex: 1;
        position: static;
        width: 59px;
        margin-left: 91%;
    }
    #element2 {
        flex: 1;
        position: static;
        width: 72px;
        margin-left: 91%;
    }
    #element3 {
        flex: 1;
        position: static;
        width: 74px;
        margin-left: 91%;
    }
    #element4 {
        flex: 1;
        position: static;
        width: 59px;
        margin-left: 91%;
       
    }
    #element5 {
        flex: 1;
        position: static;
        width: 71px;
        margin-left: 90.75%;
    }
}

@media screen and (max-width:800px) {
    #navbar-toggler-icon {
        margin-left: 89%;
    }
    #element1 {
        margin-left: 89%;
    }
    #element2 {
        margin-left: 89%;
    }
    #element3 {
        margin-left: 89%;
    }
    #element4 {
        margin-left: 89%;
    }
    #element5 {
        margin-left: 88.5%;
    }
}

@media screen and (max-width:670px) {
    #navbar-toggler-icon {
        margin-left: 87%;
    }
    #element1 {
        margin-left: 87%;
    }
    #element2 {
        margin-left: 87%;
    }
    #element3 {
        margin-left: 87%;
    }
    #element4 {
        margin-left: 87%;
    }
    #element5 {
        margin-left: 86.2%;
    }
  }  
@media screen and (max-width:550px) {
    #navbar-toggler-icon {
        margin-left: 84%;
    }
    #element1 {
        margin-left: 84%;
    }
    #element2 {
        margin-left: 84%;
    }
    #element3 {
        margin-left: 84%;
    }
    #element4 {
        margin-left: 84%;
    }
    #element5 {
        margin-left: 83%;
    }
}

@media screen and (max-width:470px) {
    #navbar-toggler-icon {
        margin-left: 81%;
    }
    #element1 {
        margin-left: 81%;
    }
    #element2 {
        margin-left: 81%;
    }
    #element3 {
        margin-left: 81%;
    }
    #element4 {
        margin-left: 81%;
    }
    #element5 {
        margin-left: 80%;
    }
}

@media screen and (max-width:390px) {
    #navbar-toggler-icon {
        margin-left: 75%;
    }
    #element1 {
        margin-left: 75%;
    }
    #element2 {
        margin-left: 75%;
    }
    #element3 {
        margin-left: 75%;
    }
    #element4 {
        margin-left: 75%;
    }
    #element5 {
        margin-left: 74%;
    }
}


@media screen and (max-width:310px) {
    #navbar-toggler-icon {
        margin-left: 67%;
    }
    #element1 {
        margin-left: 67%;
    }
    #element2 {
        margin-left: 67%;
    }
    #element3 {
        margin-left: 67%;
    }
    #element4 {
        margin-left: 67%;
    }
    #element5 {
        margin-left: 66%;
    }
}
@media screen and (max-width:270px) {
    .header__logoImage {
        margin-left: 60%;
    }
    #navbar-toggler-icon {
        margin-top: 0;
        margin-left: 40%;
    }
    #element1 {
        margin-top: 10px;
        margin-left: 39%;
    }
    #element2 {
        margin-left: 39%;
    }
    #element3 {
        margin-left: 39%;
    }
    #element4 {
        margin-left: 39%;
    }
    #element5 {
        margin-left: 38%;
    }
}

@media screen and (max-width:210px) {
    .header__logoImage {
        margin-left: 40%;
    }
    #navbar-toggler-icon {
        margin-left: 38%;
    }
    #element1 {
        margin-left: 37%;
    }
    #element2 {
        margin-left: 37%;
    }
    #element3 {
        margin-left: 37%;
    }
    #element4 {
        margin-left: 37%;
    }
    #element5 {
        margin-left: 36%;
    }
}

@media screen and (max-width:180px) {
    .header__logoImage {
        margin-left: 25%;
    }
    #navbar-toggler-icon {
        margin-left: 36%;
    }
    #element1 {
        margin-left: 35%;
    }
    #element2 {
        margin-left: 35%;
    }
    #element3 {
        margin-left: 35%;
    }
    #element4 {
        margin-left: 35%;
    }
    #element5 {
        margin-left: 34%;
    }
}