.serviceCard__container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 5px 1.6% 5px 1.7%;
  padding: 2% 0 2px 3.2%;
  border: 3px solid #dbf6e9;
  border-radius: 10%;
}

.serviceCard__container:hover .serviceCard__middle {
  background-color: #dbf6e9;
  box-shadow: 5px 5px 5px 5px #9ddfd3;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 10%;
}

.serviceCard__image {
  border-radius: 20%;
}

.serviceCard__middle {
  margin: 1% 2% 1% 5%;
  color: #000;
  font-weight: 500;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.serviceCard__descriptionBox {
  margin: 1% 70px 1% 5%;
}

.serviceCard__description {
  letter-spacing: 1.5px;
  word-spacing: 2px;
  font-size: 17px;
}

@media screen and (max-width:910px) {
  .serviceCard__container {
    padding-right: 3.2%;
  }
}

@media screen and (max-width:300px) {
  .serviceCard__container {
    padding-left: 20%;
    padding-top: 5%;
  }
  .serviceCard__imageBox {
    width: 80%;
  }
  .serviceCard__image {
    max-width: 100%;
  }
}

@media screen and (max-width:225px) {
  .serviceCard__container {
    padding-left: 30%;
  }
  .serviceCard__imageBox {
    width: 70%;
  }
}