.serviceHome__main {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    display: block;
  }
  
  @media only screen and (max-width: 767px) {
    .serviceHome__main{
      padding-bottom: 5px;
      font-size: 14px;
    }
  }
  
  @media (min-width: 640px) {
    .serviceHome__main {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .serviceHome__mainTitle {
    position: relative;
  }
  
  .serviceHome__mainTitle h2 {
    font-weight: 700;
    line-height: 1.3;
    color: #4e6b63;
    text-shadow: 2px 2px #dbf6e9;
    margin-top: 4%;
  }
  
  @media screen and (max-width:505px) {
    .serviceHome__mainTitle {
        margin-left: 20%;
    }
  }
  
  #bar {
    position: relative;
    z-index: 1;
    background: #9ddfd3;
    width: 80%;
    height: 2px;
    margin-top: 12px;
    transition: 2s;
    margin-left: 5%;
  }
  
  #bar::before {
    right: 45%;
  }
  #bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    background: #ffffff;
    transition: 0.5s;
  }
  #bar::after {
    right: 14%;
  }
  
  #bar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    background: #ffffff;
    transition: 0.5s;
  }
  
  .serviceHome__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin:3% 3% 3% 3%;
  }
  .serviceHome__details > div {
    flex-basis: 30%;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 1140px) {
    .serviceHome__details > div {
      flex-basis: 40%;
    }
  }
  
  @media (max-width: 768px) {
    .serviceHome__details > div {
      flex-basis: 40%;
    }
  }
  @media (max-width: 320px) {
    .serviceHome__details > div {
      flex-basis: 80%;
      justify-content: left;
    }
  }